<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User ID:</strong>
    <%= user.id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= user.gender %>
  </p>
</div>
