<% content_for :title, "ユーザー情報" %>

<div class="max-w-2xl mx-auto bg-white shadow-md rounded-lg p-4">
  <% if notice.present? %>
    <p class="py-1 px-3 bg-green-100 text-green-700 font-medium rounded-md mb-3" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <h1 class="text-gray-900 text-lg sm:text-xl font-bold mb-3 border-b pb-1">ユーザー情報</h1>

  <div id="<%= dom_id @user %>" class="space-y-3">
    <div class="flex justify-between items-center border-b pb-1">
      <strong class="text-sm sm:text-base font-semibold text-gray-700">名前:</strong>
      <span class="text-gray-900"><%= @user.name %></span>
    </div>
    <div class="flex justify-between items-center border-b pb-1">
      <strong class="text-sm sm:text-base font-semibold text-gray-700">ユーザーID:</strong>
      <span class="text-gray-900"><%= @user.id %></span>
    </div>
    <% if @user.id == current_user.id %>
    <div class="flex justify-between items-center border-b pb-1">
      <strong class="text-sm sm:text-base font-semibold text-gray-700">メール:</strong>
      <span class="text-gray-900"><%= @user.email %></span>
    </div>
    <div class="flex justify-between items-center">
      <strong class="text-sm sm:text-base font-semibold text-gray-700">性別:</strong>
      <span class="text-gray-900"><%= @user.gender %></span>
    </div>
    <% end %>
  </div>

  <% if @user.id == current_user.id %>
    <div class="mt-4 flex justify-between space-x-3">
      <%= link_to "編集", edit_user_path(@user), 
        class: "px-3 py-1 bg-gray-200 hover:bg-gray-300 text-gray-800 font-medium rounded-md transition duration-150 ease-in-out text-sm" %>

      <%= button_to "退会", @user, method: :delete, data: { turbo_confirm: '退会しますか？' },
        class: "px-3 py-1 bg-red-600 hover:bg-red-500 text-white font-medium rounded-md transition duration-150 ease-in-out text-sm" %>
    </div>
  <% end %>
</div>
