<div class="flex flex-col items-center">
    <h1 class="text-xl sm:text-2xl font-bold"><%= "#{title}一覧" %></h1>
    <p class="text-sm sm:text-base">レシピ数：<%= show_recipes.count %></p>

    <%= render 'shared/search', q: @q, url: saved_searches_path %>

    <div class="pt-5">
        <% if show_recipes.present? %>
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
            <% show_recipes.each do |recipe| %>
                <%= turbo_frame_tag dom_id(recipe) do %>
                    <% if recipe.response_data.present? && recipe.response_data["recipe"].present? %>
                        <div class="w-full sm:max-w-sm">
                            <%= link_to search_path(recipe.id), data: { turbo: false }, class: "block p-4 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" do %>
                                <h5 class="mb-2 text-xl sm:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <strong><%= recipe.response_data["recipe"]["title"] || "タイトルなし" %></strong>
                                </h5>
                                <p class="text-sm sm:text-base text-gray-700 dark:text-gray-400">
                                <%= recipe.response_data["recipe"]["description"] || "説明なし" %>
                                </p>
                                
                            <% end %>
                            <%= render "shared/like", search_recipe: recipe %>
                        </div>
                    <% else %>
                        <li class="text-sm sm:text-base text-gray-500">レシピデータがありません</li>
                    <% end %>
                <% end %>
            <% end %>
            </ul>
        <% else %>
            <p class="text-sm sm:text-base text-gray-500"><%= "#{title}はありません" %></p>
        <% end %>
    </div>
</div>