<!DOCTYPE html>
<html lang="ja">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-81BCFY3M2D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-81BCFY3M2D');
    </script>
    <meta charset="UTF-8">
    <title><%= content_for(:title) || "Muscle Recipe" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/images/favicon32.png" type="image/png">
    <link rel="icon" href="/images/favicon32.png" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/images/favicon32.png">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.css" rel="stylesheet" />
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>

  </head>

  <body class="flex flex-col min-h-screen text-sm sm:text-base bg-cover bg-center bg-fixed bg-no-repeat" style="background-image: url('/images/chef.png');">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_messages' %>

    <main class="container mx-auto px-5 flex-1 pt-16">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.js"></script>
  </body>
</html>
